body{
		font-family: monospace;
}
.principal{
	display: inline-block;
	background: #DCDCDC
	padding: 30px;
}

.text_centralizado{
	text-align: center;
 	color: #8F0000
	border: 40px;
	margin-bottom: 30px;
}

p {
	text-align: center;
	color: #000000;
}

#name_nicoly {
	font-size: 18px;
}

strong {
	color: #8F0000;
}

em {
	color: #8F0000;
}

.Benefícios{
	display: inline-block;
	padding: 20px;
	background: #CDCDCD;
}

ul{
	display: inline-block;
}

.item {
	color: #8F0000;
	font-size: 18px;
	margin-left: 50px;
}

.foto{
	background: #000000;
	display: inline-block;
}

#text_fotos {
	font-size: 20px;
	color: #FFFFFF;
	padding: 20px;
}

#wpp{
	height: auto;
	width: 100%;
}
.images_nicoly {
	height: 20%;
	width: 23%;
}

.direitos_autorais{
	text-align: center;
	color: #FFFFFF;
}